.dock-display {
  background-color: #fff;
  margin-top: 40px;
  padding: 5px 20px 5px;
  border: #ccc solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.docks-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 15px 0 0;
}

.meter-input {
  padding: 0;
  margin: 5px;
  text-align: center;
}

.meter-count {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border-radius: 5px;
  padding: 0 10px;
  border: #cccccc solid 1px;
  margin: 0 10px;
}

.mc-button {
  height: 22px;
  width: 30px;
  font-size: 14px;
  border-radius: 2px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadow-in {
  -moz-box-shadow:    inset 1px 1px 4px 1px #ccc;
  -webkit-box-shadow: inset 1px 1px 4px 1px #ccc;
  box-shadow:         inset 1px 1px 4px 1px #ccc;
}