.dock-display {
  background-color: #f2f2f2;
  margin-top: 40px;
  padding: 5px 20px 30px;
  border: #cccccc solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.docks-container {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 15px 0 0;
}

.meter-count {
  display: inline-block;
  border-radius: 5px;
  padding: 0 10px;
  border: #cccccc solid 1px;
  margin: 0 10px;
}

.mc-button {
  height: 22px;
  width: 30px;
  font-size: 14px;
}